@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal-blue: #272c85;
  --normal-white: #fdebec;
  --border-new-box-color: #9f2042;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--normal-white);
}
/* style scrollbar for body */
body::-webkit-scrollbar {
  width: 10px !important;
}
body::-webkit-scrollbar-track {
  background: var(--normal-white);
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  background: #5156b8;
  border-radius: 3px;
}

/* end style scrollbar for body */

/* style scrollbar for sidebar */
.ant-drawer-body::-webkit-scrollbar {
  width: 10px !important;
}
.ant-drawer-body::-webkit-scrollbar-track {
  background: var(--normal-white);
  border-radius: 3px;
}
.ant-drawer-body::-webkit-scrollbar-thumb {
  background: #5156b8;
  border-radius: 3px;
}

/* end style scrollbar for sidebar */

/* style scroll for submenu navbar  */
.ant-menu-sub::-webkit-scrollbar {
  width: 10px !important;
}
.ant-menu-sub::-webkit-scrollbar-track {
  background: var(--normal-white);
  border-radius: 3px;
}
.ant-menu-sub::-webkit-scrollbar-thumb {
  background: #5156b8;
  border-radius: 3px;
}
/* end style scroll for submenu navbar */

/* style scrollbar for fieldset */

fieldset::-webkit-scrollbar {
  width: 10px !important;
}
fieldset::-webkit-scrollbar-track {
  background: var(--normal-white);
  border-radius: 3px;
}
fieldset::-webkit-scrollbar-thumb {
  background: #5156b8;
  border-radius: 3px;
}

/* end style scrollbar for fieldset */

@layer utilities {
  .class-nav {
    z-index: 999;
    background: var(--normal-blue) !important;
    position: absolute;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 30px;
    gap: 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #babecc, -10px -10px 20px #ffffff;
  }

  .fix-nav {
    position: fixed;
    animation: fadeInDownBig 0.4s ease;
    left: 0;
    width: 100%;
    top: 0;
    background: var(--normal-blue) !important;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }

  @keyframes fadeInDownBig {
    0% {
      transform: translate3d(0, -100%, 0);
    }

    100% {
      transform: none;
    }
  }
  .new-box-hover {
    box-sizing: border-box;
    position: relative;
    &::before,
    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;
    }

    &::before {
      border-top: 0.2em solid var(--border-new-box-color);
      border-bottom: 0.2em solid var(--border-new-box-color);
      border-radius: 8px;
      transform: scale3d(0, 1, 1);
    }
    &::after {
      border-left: 0.2em solid var(--border-new-box-color);
      border-right: 0.2em solid var(--border-new-box-color);
      border-radius: 8px;
      transform: scale3d(1, 0, 1);
    }

    &:hover::before,
    &:hover::after {
      transform: scale3d(1, 1, 1);
      transition: transform 900ms;
    }
  }
}

/* slider style */
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}
/* end slider style */

.ant-menu-title-content > a {
  color: #fff;
}
.ant-menu-sub {
  background: var(--normal-blue) !important;
}
.ant-input-search-button {
  background: var(--normal-white) !important;
  color: var(--normal-blue) !important;
}

.anticon-ellipsis > svg {
  color: var(--normal-white) !important;
}

/* drawer style */

.ant-drawer-header-title {
  flex-direction: row-reverse;
}

/* end drawer style */

/* style icon footer */

.box-icon-footer:hover .icon {
  color: var(--normal-blue) !important;
}

/* end style icon footer */

/* style 404 page */
.ant-result-extra {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* end style 404 page */

/* style link footer hover */

.footer-link-hover {
  border: 2px solid transparent;
  transition: all 0.5s;

  &::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color: var(--normal-white);
    content: " ";
    position: absolute;
    bottom: -4px;
    right: 0;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
      width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {
    color: var(--normal-white);

    &::after {
      width: 20%;
      height: 2px;
      display: block;
      background-color: var(--normal-white);
      content: " ";
      position: absolute;
      bottom: -4px;
      right: 0;
    }
  }
}

/* end style link footer hover */

/* style scroll to top */

.buttonInvisible {
  display: none;
  opacity: 0;
}

.scroll-icon {
  color: var(--normal-white) !important;
}

.buttonVisible {
  position: fixed !important;
  z-index: 999 !important;
  bottom: 12px !important;
  right: 1rem !important;
  width: 40px !important;
  height: 40px !important;
  transition-duration: 500ms !important;
  transition-property: opacity !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  opacity: 1 !important;
  transition: 0.3s background-color !important;
  vertical-align: middle !important;
  transform: perspective(1px) translateZ(0) !important;
  box-shadow: 10px 10px 10px #babecc, -10px -10px 20px #ffffff;
  border-radius: 50% !important;

  &:hover {
    background-color: var(--normal-white) !important;
  }
  &:hover .scroll-icon {
    color: var(--normal-blue) !important;
  }
}

/* end style button ScrollToTop */

/* loading style */

.loader {
  width: 40px;
  height: 40px;
  color: var(--border-new-box-color);
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  animation: l4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loading style */
